h3{
    color: cyan;
}
p{
    color: blueviolet;
}
#page-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    color: chartreuse;
    font-weight: 800;
    text-align: center;
    height: 200px;
    background-image:url('../Images/web.png');
    background-size: 100%;
    background-color: gray;
    background-blend-mode: multiply;
    text-decoration: underline;
}